:root {
  --primary-color-gradient: linear-gradient(
    90deg,
    hsla(311, 74%, 87%, 1) 0%,
    hsla(275, 19%, 88%, 1) 100%
  );
  --primary-color-gradient-dark: hsla(293, 46.5%, 85%, 1);

  --primary-color-gradient-text: linear-gradient(
    90deg,
    #6a6cff 0%,
    #bd71ff 100%
  );
  --fav-gradient: linear-gradient(
    45deg,
    hsla(311, 74%, 87%, 1) 0%,
    /* First column */ hsla(311, 74%, 87%, 1) 2.5%,
    /* Second column */ hsla(275, 19%, 88%, 1) 2.5%,
    /* Third column */ hsla(275, 19%, 88%, 1) 5%,
    /* Fourth column */ hsla(311, 74%, 87%, 1) 5%,
    /* Fifth column */ hsla(311, 74%, 87%, 1) 7.5%,
    /* Sixth column */ hsla(275, 19%, 88%, 1) 7.5%,
    /* Seventh column */ hsla(275, 19%, 88%, 1) 10%,
    /* Eighth column */ hsla(311, 74%, 87%, 1) 10%,
    /* Ninth column */ hsla(311, 74%, 87%, 1) 12.5%,
    /* Tenth column */ hsla(275, 19%, 88%, 1) 12.5%,
    /* Eleventh column */ hsla(275, 19%, 88%, 1) 15%,
    /* Twelfth column */ hsla(311, 74%, 87%, 1) 15%,
    /* Thirteenth column */ hsla(311, 74%, 87%, 1) 17.5%,
    /* Fourteenth column */ hsla(275, 19%, 88%, 1) 17.5%,
    /* Fifteenth column */ hsla(275, 19%, 88%, 1) 20%,
    /* Sixteenth column */ hsla(311, 74%, 87%, 1) 20%,
    /* Seventeenth column */ hsla(311, 74%, 87%, 1) 22.5%,
    /* Eighteenth column */ hsla(275, 19%, 88%, 1) 22.5%,
    /* Nineteenth column */ hsla(275, 19%, 88%, 1) 25%,
    /* Twentieth column */ hsla(311, 74%, 87%, 1) 25%,
    /* Twenty-first column */ hsla(311, 74%, 87%, 1) 27.5%,
    /* Twenty-second column */ hsla(275, 19%, 88%, 1) 27.5%,
    /* Twenty-third column */ hsla(275, 19%, 88%, 1) 30%,
    /* Twenty-fourth column */ hsla(311, 74%, 87%, 1) 30%,
    /* Twenty-fifth column */ hsla(311, 74%, 87%, 1) 32.5%,
    /* Twenty-sixth column */ hsla(275, 19%, 88%, 1) 32.5%,
    /* Twenty-seventh column */ hsla(275, 19%, 88%, 1) 35%,
    /* Twenty-eighth column */ hsla(311, 74%, 87%, 1) 35%,
    /* Twenty-ninth column */ hsla(311, 74%, 87%, 1) 37.5%,
    /* Thirtieth column */ hsla(275, 19%, 88%, 1) 37.5%,
    /* Thirty-first column */ hsla(275, 19%, 88%, 1) 40%,
    /* Thirty-second column */ hsla(311, 74%, 87%, 1) 40%,
    /* Thirty-third column */ hsla(311, 74%, 87%, 1) 42.5%,
    /* Thirty-fourth column */ hsla(275, 19%, 88%, 1) 42.5%,
    /* Thirty-fifth column */ hsla(275, 19%, 88%, 1) 45%,
    /* Thirty-sixth column */ hsla(311, 74%, 87%, 1) 45%,
    /* Thirty-seventh column */ hsla(311, 74%, 87%, 1) 47.5%,
    /* Thirty-eighth column */ hsla(275, 19%, 88%, 1) 47.5%,
    /* Thirty-ninth column */ hsla(275, 19%, 88%, 1) 50% /* Fortieth column */
  );
  --text-color-purple: #6a6cff;
  --text-color-pink: #bd71ff;
  --perfect-black: #353535;
  --gray-low-text: #d0cdcd;
  --primary-color-gray: rgb(226, 226, 226);
  --primary-color-gray-dark: rgb(207, 205, 205);
  --sub-background-gray: rgb(180, 180, 180);
  --fav-gradient-gray: linear-gradient(
    135deg,
    rgb(226, 226, 226) 0%,
    /* First column */ rgb(226, 226, 226) 2.5%,
    /* Second column */ rgb(180, 180, 180) 2.5%,
    /* Third column */ rgb(180, 180, 180) 5%,
    /* Fourth column */ rgb(226, 226, 226) 5%,
    /* Fifth column */ rgb(226, 226, 226) 7.5%,
    /* Sixth column */ rgb(180, 180, 180) 7.5%,
    /* Seventh column */ rgb(180, 180, 180) 10%,
    /* Eighth column */ rgb(226, 226, 226) 10%,
    /* Ninth column */ rgb(226, 226, 226) 12.5%,
    /* Tenth column */ rgb(180, 180, 180) 12.5%,
    /* Eleventh column */ rgb(180, 180, 180) 15%,
    /* Twelfth column */ rgb(226, 226, 226) 15%,
    /* Thirteenth column */ rgb(226, 226, 226) 17.5%,
    /* Fourteenth column */ rgb(180, 180, 180) 17.5%,
    /* Fifteenth column */ rgb(180, 180, 180) 20%,
    /* Sixteenth column */ rgb(226, 226, 226) 20%,
    /* Seventeenth column */ rgb(226, 226, 226) 22.5%,
    /* Eighteenth column */ rgb(180, 180, 180) 22.5%,
    /* Nineteenth column */ rgb(180, 180, 180) 25%,
    /* Twentieth column */ rgb(226, 226, 226) 25%,
    /* Twenty-first column */ rgb(226, 226, 226) 27.5%,
    /* Twenty-second column */ rgb(180, 180, 180) 27.5%,
    /* Twenty-third column */ rgb(180, 180, 180) 30%,
    /* Twenty-fourth column */ rgb(226, 226, 226) 30%,
    /* Twenty-fifth column */ rgb(226, 226, 226) 32.5%,
    /* Twenty-sixth column */ rgb(180, 180, 180) 32.5%,
    /* Twenty-seventh column */ rgb(180, 180, 180) 35%,
    /* Twenty-eighth column */ rgb(226, 226, 226) 35%,
    /* Twenty-ninth column */ rgb(226, 226, 226) 37.5%,
    /* Thirtieth column */ rgb(180, 180, 180) 37.5%,
    /* Thirty-first column */ rgb(180, 180, 180) 40%,
    /* Thirty-second column */ rgb(226, 226, 226) 40%,
    /* Thirty-third column */ rgb(226, 226, 226) 42.5%,
    /* Thirty-fourth column */ rgb(180, 180, 180) 42.5%,
    /* Thirty-fifth column */ rgb(180, 180, 180) 45%,
    /* Thirty-sixth column */ rgb(226, 226, 226) 45%,
    /* Thirty-seventh column */ rgb(226, 226, 226) 47.5%,
    /* Thirty-eighth column */ rgb(180, 180, 180) 47.5%,
    /* Thirty-ninth column */ rgb(180, 180, 180) 50% /* Fortieth column */
  );
}

/* my dark theme CSS config*/
.dark-mode {
  --fav-gradient: linear-gradient(
    45deg,
    #3a3a4e 0%,
    #3a3a4e 2.5%,
    #5a5a6e 2.5%,
    #5a5a6e 5%,
    #3a3a4e 5%,
    #3a3a4e 7.5%,
    #5a5a6e 7.5%,
    #5a5a6e 10%,
    #3a3a4e 10%,
    #3a3a4e 12.5%,
    #5a5a6e 12.5%,
    #5a5a6e 15%,
    #3a3a4e 15%,
    #3a3a4e 17.5%,
    #5a5a6e 17.5%,
    #5a5a6e 20%,
    #3a3a4e 20%,
    #3a3a4e 22.5%,
    #5a5a6e 22.5%,
    #5a5a6e 25%,
    #3a3a4e 25%,
    #3a3a4e 27.5%,
    #5a5a6e 27.5%,
    #5a5a6e 30%,
    #3a3a4e 30%,
    #3a3a4e 32.5%,
    #5a5a6e 32.5%,
    #5a5a6e 35%,
    #3a3a4e 35%,
    #3a3a4e 37.5%,
    #5a5a6e 37.5%,
    #5a5a6e 40%,
    #3a3a4e 40%,
    #3a3a4e 42.5%,
    #5a5a6e 42.5%,
    #5a5a6e 45%,
    #3a3a4e 45%,
    #3a3a4e 47.5%,
    #5a5a6e 47.5%,
    #5a5a6e 50%
  );
  --fav-gradient-gray: linear-gradient(
    135deg,
    #5a5a6e 0%,
    #5a5a6e 2.5%,
    #3a3a4e 2.5%,
    #3a3a4e 5%,
    #5a5a6e 5%,
    #5a5a6e 7.5%,
    #3a3a4e 7.5%,
    #3a3a4e 10%,
    #5a5a6e 10%,
    #5a5a6e 12.5%,
    #3a3a4e 12.5%,
    #3a3a4e 15%,
    #5a5a6e 15%,
    #5a5a6e 17.5%,
    #3a3a4e 17.5%,
    #3a3a4e 20%,
    #5a5a6e 20%,
    #5a5a6e 22.5%,
    #3a3a4e 22.5%,
    #3a3a4e 25%,
    #5a5a6e 25%,
    #5a5a6e 27.5%,
    #3a3a4e 27.5%,
    #3a3a4e 30%,
    #5a5a6e 30%,
    #5a5a6e 32.5%,
    #3a3a4e 32.5%,
    #3a3a4e 35%,
    #5a5a6e 35%,
    #5a5a6e 37.5%,
    #3a3a4e 37.5%,
    #3a3a4e 40%,
    #5a5a6e 40%,
    #5a5a6e 42.5%,
    #3a3a4e 42.5%,
    #3a3a4e 45%,
    #5a5a6e 45%,
    #5a5a6e 47.5%,
    #3a3a4e 47.5%,
    #3a3a4e 50%
  );
  --primary-color-gradient-dark: #3a3a4e 2.5%;
  --primary-color-gradient: #5a5a6e 2.5%;
  --perfect-black: #dddddd;
  --primary-color-gray: #3a3a4e 2.5%;
  --primary-color-gray-dark: #5a5a6e 2.5%;
  --sub-background-gray: #5a5a6e 2.5%;
}
