/* ////////////// */
.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 500px;
}

.background {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 500px;
  background: #ffffff;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
  list-style: none;
}

.iconPlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text-placeholder {
  border-radius: 5px;
  width: 500px;
  height: fit-content;
  margin-left: 20px;
}

.nav-item-container {
  top: 100px;
  left: 60px;
  z-index: 2;
  position: fixed;
  max-width: calc(500px - 120px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 60px 0;
  padding: 0;
}

.title-static {
  color: var(--perfect-black);
}

/* responsive settings */

@media only screen and (max-width: 480px) {
  .nav-item-container {
    left: 20px;
    max-width: unset;
  }
}

@media only screen and (max-width: 768px) {
  .button {
    z-index: 2;
    top: 20px;
    left: 20px;
  }

  .nav {
    width: 100%;
  }

  .background {
    width: 100%;
  }

  .text-placeholder {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .button {
    z-index: 2;
    top: 40px;
    left: 40px;
  }
}

/* /////////////// */

.text-placeholder {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.underline {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--perfect-black);
  transition: width 0.3s ease, left 0.3s ease;
}

.text-placeholder:hover .underline {
  width: 100%;
  left: 0;
}
