body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-gradient-dark-scroll);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-pink);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-purple);
}

/* only use for theme change button */
.custom-font * {
  font-family: var(--font-caveat) !important;
  font-optical-sizing: auto;
  font-style: normal;
}

/* mobile CSS upgrade */
.nav-scroll-css {
  max-height: calc(100svh - 180px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}
